:root {
    --main-color: hsl(25, 97%, 53%); /* Orange */

    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);

    --second-font : 'Open Sans', sans-serif;
    --main-font: 'Overpass', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* width: 100vh; */
    height: 100vh;
    /* background-color: var(--Very-Dark-Blue); */
    background-color: black;
    display: grid;
    align-content: center;
    justify-content: center;
}

.main_block {
    margin: auto;
    width: 90%;
    max-width: 400px;
    height: 50vh;
    max-height: 360px;
    /* background-color: var(--Dark-Blue); */
    background-color: var(--Very-Dark-Blue);
    padding: 24px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    /* display: none; */
     /* --------------------------------------------- */
}

.icon-container {
    width: 40px;
    height: 40px;
    background-color: var(--Dark-Blue);
    border-radius: 50%;
    display: grid;
    align-content: center;
    justify-content: center;
}

#star-icon {
    width: 17px;
    height: 17px;
    background-image: url(../images/icon-star.svg);
    background-size: cover;
    background-position: center;
}

h1 {
    color: var(--White);
    font-family: var(--main-font);
    font-weight: 400;
}

p {
    color: var(--Medium-Grey);
    font-size: 15px;
    font-family: var(--main-font);
    font-weight: 400;
}

.buttons-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

input {
    border: none;
}

/* input[type = button] {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--Dark-Blue);
    color: var(--Light-Grey);
    font-family: var(--main-font);
    cursor: pointer;
} */

input[type = button] {
    border: none;
    background: transparent;
    color: var(--Light-Grey);
    font-family: var(--main-font);
    font-weight: 700;
    cursor: pointer;
}

.submit-container{
    width: 100%;
    display: flex;
    font-family: var(--main-font);
}

a {
    text-decoration: none;
    text-align: center;
    font-family: var(--main-font);
    font-weight: 700;
}

#submit{
    display: inline-block;
    margin: auto;
    width: 100%;
    padding: 12px 0;
    border-radius: 20px;
    background-color: var(--main-color);
    font-family: var(--main-font);
    font-weight: 400;
    color: var(--White);
    letter-spacing: 2px;
    cursor: pointer;
}

/* input[type = checkbox] {
    display: none;
} */

#b1, #b2, #b3, #b4, #b5 {
    width: 40px;
    height: 40px;
    background-color: var(--Dark-Blue);
    border-radius: 50%;
    display: grid;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}

/* E F E C T O S   E S P E C I A L E S */

#submit:hover {
    background-color: var(--White);
    color: var(--main-color);
}

input[type = button]:hover {
    /* background-color: var(--main-color); */
    color: var(--White);
}

#btnControl1, #btnControl2, #btnControl3, #btnControl4, #btnControl5 {
    display: none;
}

#btnControl1:checked + label > div {
    background-color: var(--Medium-Grey);
    /* color: var(--White); */
}

#btnControl1:checked > #button1 {
    color: var(--White);
}

#btnControl2:checked + label > div {
    background-color: var(--Medium-Grey);
    /* color: var(--White); */
}

#btnControl3:checked + label > div {
    background-color: var(--Medium-Grey);
    /* color: var(--White); */
}

#btnControl4:checked + label > div {
    background-color: var(--Medium-Grey);
    /* color: var(--White); */
}

#btnControl5:checked + label > div {
    background-color: var(--Medium-Grey);
    /* color: var(--White); */
}

/* #b1:hover > #button1 {
    color: var(--White);
} */



#b1:hover {
    background-color: var(--main-color);
    /* color: var(--White); */
}

#b2:hover {
    background-color: var(--main-color);
    /* color: var(--White); */
}

#b3:hover {
    background-color: var(--main-color);
    /* color: var(--White); */
}

#b4:hover {
    background-color: var(--main-color);
    /* color: var(--White); */
}

#b5:hover {
    background-color: var(--main-color);
    /* color: var(--White); */
}


/* S E C O N D     B L O C K */

.second_block {
    margin: auto;
    width: 90%;
    max-width: 400px;
    height: 50vh;
    max-height: 360px;
    /* background-color: var(--Dark-Blue); */
    background-color: var(--Very-Dark-Blue);
    padding: 24px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* display: none; */
    /* position: absolute; */
    /* ------------------------------------ */
}

/* .second_block {
    position: relative;
    z-index: 20;
} */

/* .main_block {
    position: relative;
    z-index: 10;
    display: block;
} */

.cell_container {
    width: 162px;
    height: 108px;
    background-image: url(../images/illustration-thank-you.svg);
}

.thanks {
    font-size: 28px;
}

.thanks_text {
    /* font-size: 28px; */
    padding-bottom: 10px;
    text-align: center;
}

.rating {
    /* font-size: 1px; */
    background-color: var(--Dark-Blue);
    padding: 6px;
    border-radius: 12px;
    color: var(--main-color);
    font-family: var(--main-font);
}
